<main>

  <section id="hangman"></section>

  <section id="inputs">

    <div>
      <label for="word">Word</label>
      <input type="text" name="word" id="word" #word>
      
      <div class="row">
        <button (click)="setNewWord(word)" [disabled]="word.value">Set new word</button>
        <button (click)="setRandomWord()">Set random word</button>
      </div>
    </div>

    <div id="letters-container">

      <span class="letter" *ngFor="let letter of letters">{{ letter.visible ? letter.letter : '?' }}</span>

    </div>

    <p>You made {{ errors }} {{ errors == 1 ? 'error' : 'errors' }}</p>
    <p>Max errors posible: {{ maxErrors }}</p>

    <div>
      <label for="check_letter">Letter</label>
      <input type="text" name="check_letter" id="check_letter" minlength="1" maxlength="1" #letter>

      <div class="row">
        <button (click)="checkLetter(letter)">Check letter</button>
      </div>
    </div>

  </section>
  
</main>