/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Poiret One', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: #696969;
    width: 100vw;
    height: 100vh;
}